.single_coin_block button.the_icon {
    margin-right: 10px;
}
button.the_icon img.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.single_coin_block {
    display: flex;
    align-items: center;
}

.single_coin_block_details h5 {
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 900;
}

.single_coin_block_details span {
    font-family: 'Nova Cut', cursive;
    font-size: 20px;
    color: #FF7BAC;
    display: block;
}

.single_coin_block_details {
    text-align: center;
}
 