.kevian-content {
    width: 100%;
    height: 600px;
    padding: 100px;
    background-size: 100% 100%;
}
.kevian-area .cartBlk button.theme_btn {
    width: 340px;
    margin-top: 50px;
    left: 40px;
    overflow: unset;
}
.kevian-content p {
    font-size: 30px;
    color: #fff;
    padding-right: 60px;
}

.kevian-content p span {
    color: #00cffd;
}

.kevian-wrp button.theme_btn {
    margin: auto;
    display: block;
    margin-top: 25px;
    font-size: 25px;
    width: 310px;
    overflow: unset;
}